%h1 Programmer's Book Store
%table
  %tr
    %th Title
    %th Text
  - @products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= product.price
      %th= image_tag(product.image_url)
      %td= link_to "Add Product", carts_add_product_path(product_id: product.id)
=link_to "New Product", new_product_path
